@font-face {
    font-family: '8bitoperatorplusbold';
    src: url('/font/PixelOperator8-Bold.ttf');
}

body{
    font-family: '8bitoperatorplusbold';
    background: no-repeat url("https://giffiles.alphacoders.com/615/61562.gif");
    background-size: cover;
    margin: 0%;
    line-height: normal;
    color: white;
    text-decoration: none;
}

header {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/91295cfb-a5b4-4261-bd97-fe810491162d/dbmya3c-7e84ead1-e7af-4a20-b82b-a0ed25a4b836.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzkxMjk1Y2ZiLWE1YjQtNDI2MS1iZDk3LWZlODEwNDkxMTYyZFwvZGJteWEzYy03ZTg0ZWFkMS1lN2FmLTRhMjAtYjgyYi1hMGVkMjVhNGI4MzYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GJW_06d-1P1PmK8PQXY1Wdl--899VJLWNgcAGP90VPk);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 185px;
  }

  img {
    width: 700px;
    display: flex;
    margin: auto;
  }

  .boss-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    background-color: #1C1C1C;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;

}
.boss-container:hover{
    box-shadow: 18px 16px 12px 0px rgba(0,0,0,0.1);
    transition: all .3s ease-in-out
}


#sans img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sans:hover{
    background-color: red;
}

#sans a{
    text-decoration: none;
    color: white;
}